.tree-item-action 
    display: flex 
    width: 40px
    justify-content: space-between 
    align-items: center 
    height: 100%  
    margin-left: 50px;
    opacity: 0.2

.ant-tree-treenode
    width: 100% 
    &:hover 
       background: #eee 
       .tree-item-action
           opacity: 1;


.ant-tree-show-line .ant-tree-switcher
    background: unset!important 