.tree-item-action
    display: inline-block 
    width: 40px
    justify-content: space-between
    align-items: center
    margin-left: 20px
    opacity: 0.2
.ant-tree-title
    div
    &:hover
        background: #eee
        .tree-item-action
            opacity: 1

.ant-tree-show-line .ant-tree-switcher
    background: unset!important
