{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 60,
  "overrides": [
    {
      "files": ["*.yaml", "*.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
