$selector-padding: 8px 16px 
.container 
    padding: $selector-padding
.alignCenter 
    display: flex 
    align-content: center 
    
.iconUp 
    svg 
        transform: rotate(180deg)
        transition-duration: 200ms 
.iconDown 
    svg 
        transform: rotate(0deg)
        transition-duration: 200ms 
.flex 
    display: flex
    justify-content: space-between 
    align-items: center 
    div 
        width: 80% 
.boxShadow 
    display: flex 
    align-content: center
    background-color: white 

    
.label 
    padding-right: 30px 
    font-size: 13px
    display: block
    width: 50%
    padding: 6px 0
    margin-bottom: 12px
.valueInput, .hexInput
    width: 100% 
    padding: 6px 12px 
    border: 1px solid #ccc 
    border-radius: 4px 
    box-sizing: border-box 
    margin-bottom: 12px 
    font-size: 14px 
    color: #555 
    outline: none 
    transition: all 0.3s 
    &:focus 
        border-color: #00bcd4
.textAlign 
    display: flex 
    align-items: center 
    .buttons
        cursor: pointer
        width: 140px
        background: #eee 
        display: flex 
        align-items: center 
        justify-content: space-between
        border-radius: 10px 
        padding: 4px 8px 
        .active
            background-color: white
.content 
    padding: 0 8px 
    margin-left: 8px 
    border-left: 1px solid darkgray 
.header 
    display: flex 
    flex-direction: column
    justify-content: space-between