
.wrapper 
    display: block 
    flex: 1
    width: 0
    background: white
    height:  calc(100%)
    .container
        flex: 1 
        display: flex 
        overflow: scroll
        height: calc(100% - 60px)
        min-height: calc(100%-60px) 
        max-height: calc(100%-60px)
        padding: 16px 
        min-width: 100%
        max-width: 100%
        width: 100%
        .content 
            margin: auto
            *   
                all: revert
                cursor: pointer
                &:hover 
                    outline: 2px dashed



        

.header 
    height: 60px
    display: flex 
    background: #eee 
    align-items: center 
    padding: 0 16px
    h2 
        margin: 0!important  
       
.editInnerText 
    width: 100% 
    background: transparent 
    color: inherit
    outline: none 
    border: none 
    &:hover 
        outline: none!important

