.container 
    .top
        display: flex
        justify-content: space-between
        align-items: center
    .footer 
        display: flex 
        justify-content: center 
        span 
            display: block 
            text-align: center 
    
.iconUp 
    svg 
        transform: rotate(180deg)
        transition-duration: 200ms 
.iconDown 
    svg 
        transform: rotate(0deg)
        transition-duration: 200ms 
.flex 
    display: flex
    justify-content: space-between 
    div 
        width: 80% 
.boxShadow 
    display: flex 
    align-content: center
    background-color: white 
.label 
    padding-right: 20px 
.textAlign 
    .buttons
        width: 100px
        background: #eee 
        display: flex 
        align-items: center 
        justify-content: space-between
        .active
            background-color: white
